<?xml version="1.0"?>
<!--
/**
 * Copyright © Magenx. All rights reserved.
 *
 * The tool registry is the module's extension point: another module adds a tool
 * by contributing one item to the `tools` argument, and it is picked up by
 * tools/list and tools/call with all of the server's guards already applied.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenx\AiMcp\Model\Tool\ToolRegistry">
        <arguments>
            <argument name="tools" xsi:type="array">
                <item name="list_stores" xsi:type="object">Magenx\AiMcp\Model\Tool\Store\ListStores</item>
                <item name="search_products" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\SearchProducts</item>
                <item name="get_product" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\GetProduct</item>
                <item name="create_product" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\CreateProduct</item>
                <item name="update_product" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\UpdateProduct</item>
                <item name="list_product_attributes" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\ListAttributes</item>
                <item name="get_category_tree" xsi:type="object">Magenx\AiMcp\Model\Tool\Category\GetCategoryTree</item>
                <item name="create_category" xsi:type="object">Magenx\AiMcp\Model\Tool\Category\CreateCategory</item>
                <item name="update_category" xsi:type="object">Magenx\AiMcp\Model\Tool\Category\UpdateCategory</item>
                <item name="assign_product_to_category" xsi:type="object">Magenx\AiMcp\Model\Tool\Category\AssignProductToCategory</item>
                <item name="get_category" xsi:type="object">Magenx\AiMcp\Model\Tool\Category\GetCategory</item>
                <item name="list_category_products" xsi:type="object">Magenx\AiMcp\Model\Tool\Category\ListCategoryProducts</item>
                <item name="list_cms_blocks" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\ListCmsBlocks</item>
                <item name="update_cms_block" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\UpdateCmsBlock</item>
                <item name="search_orders" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\SearchOrders</item>
                <item name="get_order" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\GetOrder</item>
                <item name="list_order_comments" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\ListOrderComments</item>
                <item name="add_order_comment" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\AddOrderComment</item>
                <item name="hold_order" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\HoldOrder</item>
                <item name="unhold_order" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\UnholdOrder</item>
                <item name="cancel_order" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\CancelOrder</item>
                <item name="search_invoices" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\SearchInvoices</item>
                <item name="create_invoice" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\CreateInvoice</item>
                <item name="search_shipments" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\SearchShipments</item>
                <item name="create_shipment" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\CreateShipment</item>
                <item name="search_credit_memos" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\SearchCreditMemos</item>
                <item name="create_credit_memo" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\CreateCreditMemo</item>
                <item name="get_invoice" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\GetInvoice</item>
                <item name="capture_invoice" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\CaptureInvoice</item>
                <item name="void_invoice" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\VoidInvoice</item>
                <item name="get_shipment" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\GetShipment</item>
                <item name="add_shipment_track" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\AddShipmentTrack</item>
                <item name="delete_shipment_track" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\DeleteShipmentTrack</item>
                <item name="get_credit_memo" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\GetCreditMemo</item>
                <item name="send_order_email" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\SendOrderEmail</item>
                <item name="update_order_address" xsi:type="object">Magenx\AiMcp\Model\Tool\Sales\UpdateOrderAddress</item>
                <item name="search_customers" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\SearchCustomers</item>
                <item name="get_customer" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\GetCustomer</item>
                <item name="list_customer_groups" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\ListCustomerGroups</item>
                <item name="create_customer" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\CreateCustomer</item>
                <item name="update_customer" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\UpdateCustomer</item>
                <item name="delete_customer" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\DeleteCustomer</item>
                <item name="create_customer_address" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\CreateCustomerAddress</item>
                <item name="update_customer_address" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\UpdateCustomerAddress</item>
                <item name="delete_customer_address" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\DeleteCustomerAddress</item>
                <item name="initiate_password_reset" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\InitiatePasswordReset</item>
                <item name="invalidate_customer_tokens" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\InvalidateCustomerTokens</item>
                <item name="set_newsletter_subscription" xsi:type="object">Magenx\AiMcp\Model\Tool\Customer\SetNewsletterSubscription</item>
                <item name="search_admin_users" xsi:type="object">Magenx\AiMcp\Model\Tool\User\SearchAdminUsers</item>
                <item name="get_stock" xsi:type="object">Magenx\AiMcp\Model\Tool\Inventory\GetStock</item>
                <item name="update_stock" xsi:type="object">Magenx\AiMcp\Model\Tool\Inventory\UpdateStock</item>
                <item name="search_low_stock" xsi:type="object">Magenx\AiMcp\Model\Tool\Inventory\SearchLowStock</item>
                <item name="get_tier_prices" xsi:type="object">Magenx\AiMcp\Model\Tool\Price\GetTierPrices</item>
                <item name="set_tier_prices" xsi:type="object">Magenx\AiMcp\Model\Tool\Price\SetTierPrices</item>
                <item name="delete_tier_prices" xsi:type="object">Magenx\AiMcp\Model\Tool\Price\DeleteTierPrices</item>
                <item name="search_cart_price_rules" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\SearchCartPriceRules</item>
                <item name="get_cart_price_rule" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\GetCartPriceRule</item>
                <item name="update_cart_price_rule" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\UpdateCartPriceRule</item>
                <item name="generate_coupons" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\GenerateCoupons</item>
                <item name="search_coupons" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\SearchCoupons</item>
                <item name="delete_coupons" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\DeleteCoupons</item>
                <item name="search_catalog_price_rules" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\SearchCatalogPriceRules</item>
                <item name="get_catalog_price_rule" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\GetCatalogPriceRule</item>
                <item name="update_catalog_price_rule" xsi:type="object">Magenx\AiMcp\Model\Tool\Promotion\UpdateCatalogPriceRule</item>
                <item name="search_cms_pages" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\SearchCmsPages</item>
                <item name="get_cms_page" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\GetCmsPage</item>
                <item name="create_cms_page" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\CreateCmsPage</item>
                <item name="update_cms_page" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\UpdateCmsPage</item>
                <item name="update_cms_page_design" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\UpdateCmsPageDesign</item>
                <item name="delete_cms_page" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\DeleteCmsPage</item>
                <item name="create_cms_block" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\CreateCmsBlock</item>
                <item name="delete_cms_block" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\DeleteCmsBlock</item>
                <item name="get_cms_block" xsi:type="object">Magenx\AiMcp\Model\Tool\Cms\GetCmsBlock</item>
                <item name="get_product_attribute" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\GetProductAttribute</item>
                <item name="create_product_attribute" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\CreateProductAttribute</item>
                <item name="update_product_attribute" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\UpdateProductAttribute</item>
                <item name="delete_product_attribute" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\DeleteProductAttribute</item>
                <item name="add_product_attribute_option" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\AddProductAttributeOption</item>
                <item name="delete_product_attribute_option" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\DeleteProductAttributeOption</item>
                <item name="list_attribute_sets" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\ListAttributeSets</item>
                <item name="assign_product_attribute_to_set" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\AssignProductAttributeToSet</item>
                <item name="unassign_product_attribute_from_set" xsi:type="object">Magenx\AiMcp\Model\Tool\Attribute\UnassignProductAttributeFromSet</item>
                <item name="search_url_rewrites" xsi:type="object">Magenx\AiMcp\Model\Tool\UrlRewrite\SearchUrlRewrites</item>
                <item name="list_widget_instances" xsi:type="object">Magenx\AiMcp\Model\Tool\Widget\ListWidgetInstances</item>
                <item name="get_widget_instance" xsi:type="object">Magenx\AiMcp\Model\Tool\Widget\GetWidgetInstance</item>
                <item name="list_email_templates" xsi:type="object">Magenx\AiMcp\Model\Tool\Email\ListEmailTemplates</item>
                <item name="get_email_template" xsi:type="object">Magenx\AiMcp\Model\Tool\Email\GetEmailTemplate</item>
                <item name="update_email_template" xsi:type="object">Magenx\AiMcp\Model\Tool\Email\UpdateEmailTemplate</item>
                <item name="get_design_config" xsi:type="object">Magenx\AiMcp\Model\Tool\Design\GetDesignConfig</item>
                <item name="update_design_config" xsi:type="object">Magenx\AiMcp\Model\Tool\Design\UpdateDesignConfig</item>
                <item name="search_media_gallery_assets" xsi:type="object">Magenx\AiMcp\Model\Tool\MediaGallery\SearchMediaGalleryAssets</item>
                <item name="upload_media_gallery_asset" xsi:type="object">Magenx\AiMcp\Model\Tool\MediaGallery\UploadMediaGalleryAsset</item>
                <item name="list_product_media" xsi:type="object">Magenx\AiMcp\Model\Tool\Media\ListProductMedia</item>
                <item name="add_product_media" xsi:type="object">Magenx\AiMcp\Model\Tool\Media\AddProductMedia</item>
                <item name="update_product_media" xsi:type="object">Magenx\AiMcp\Model\Tool\Media\UpdateProductMedia</item>
                <item name="delete_product_media" xsi:type="object">Magenx\AiMcp\Model\Tool\Media\DeleteProductMedia</item>
                <item name="list_product_link_types" xsi:type="object">Magenx\AiMcp\Model\Tool\Link\ListProductLinkTypes</item>
                <item name="get_product_links" xsi:type="object">Magenx\AiMcp\Model\Tool\Link\GetProductLinks</item>
                <item name="set_product_links" xsi:type="object">Magenx\AiMcp\Model\Tool\Link\SetProductLinks</item>
                <item name="delete_product_link" xsi:type="object">Magenx\AiMcp\Model\Tool\Link\DeleteProductLink</item>
                <item name="list_configurable_children" xsi:type="object">Magenx\AiMcp\Model\Tool\Configurable\ListConfigurableChildren</item>
                <item name="add_configurable_child" xsi:type="object">Magenx\AiMcp\Model\Tool\Configurable\AddConfigurableChild</item>
                <item name="remove_configurable_child" xsi:type="object">Magenx\AiMcp\Model\Tool\Configurable\RemoveConfigurableChild</item>
                <item name="list_bundle_options" xsi:type="object">Magenx\AiMcp\Model\Tool\Bundle\ListBundleOptions</item>
                <item name="save_bundle_option" xsi:type="object">Magenx\AiMcp\Model\Tool\Bundle\SaveBundleOption</item>
                <item name="delete_bundle_option" xsi:type="object">Magenx\AiMcp\Model\Tool\Bundle\DeleteBundleOption</item>
                <item name="add_bundle_selection" xsi:type="object">Magenx\AiMcp\Model\Tool\Bundle\AddBundleSelection</item>
                <item name="remove_bundle_selection" xsi:type="object">Magenx\AiMcp\Model\Tool\Bundle\RemoveBundleSelection</item>
                <item name="list_downloadable_links" xsi:type="object">Magenx\AiMcp\Model\Tool\Downloadable\ListDownloadableLinks</item>
                <item name="save_downloadable_link" xsi:type="object">Magenx\AiMcp\Model\Tool\Downloadable\SaveDownloadableLink</item>
                <item name="delete_downloadable_link" xsi:type="object">Magenx\AiMcp\Model\Tool\Downloadable\DeleteDownloadableLink</item>
                <item name="list_downloadable_samples" xsi:type="object">Magenx\AiMcp\Model\Tool\Downloadable\ListDownloadableSamples</item>
                <item name="save_downloadable_sample" xsi:type="object">Magenx\AiMcp\Model\Tool\Downloadable\SaveDownloadableSample</item>
                <item name="delete_downloadable_sample" xsi:type="object">Magenx\AiMcp\Model\Tool\Downloadable\DeleteDownloadableSample</item>
                <item name="list_product_options" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\Option\ListProductOptions</item>
                <item name="save_product_option" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\Option\SaveProductOption</item>
                <item name="delete_product_option" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\Option\DeleteProductOption</item>
                <item name="assign_product_to_website" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\AssignProductToWebsite</item>
                <item name="delete_product" xsi:type="object">Magenx\AiMcp\Model\Tool\Catalog\DeleteProduct</item>
                <item name="delete_category" xsi:type="object">Magenx\AiMcp\Model\Tool\Category\DeleteCategory</item>
                <item name="move_category" xsi:type="object">Magenx\AiMcp\Model\Tool\Category\MoveCategory</item>
                <item name="search_rma" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\SearchRma</item>
                <item name="get_rma" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\GetRma</item>
                <item name="update_rma" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\UpdateRma</item>
                <item name="delete_rma" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\DeleteRma</item>
                <item name="list_rma_comments" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\ListRmaComments</item>
                <item name="add_rma_comment" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\AddRmaComment</item>
                <item name="list_rma_items" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\ListRmaItems</item>
                <item name="update_rma_item" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\UpdateRmaItem</item>
                <item name="list_rma_statuses" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\ListStatuses</item>
                <item name="save_rma_status" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\SaveStatus</item>
                <item name="delete_rma_status" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\DeleteStatus</item>
                <item name="list_rma_reasons" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\ListReasons</item>
                <item name="save_rma_reason" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\SaveReason</item>
                <item name="delete_rma_reason" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\DeleteReason</item>
                <item name="list_rma_resolution_types" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\ListResolutionTypes</item>
                <item name="save_rma_resolution_type" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\SaveResolutionType</item>
                <item name="delete_rma_resolution_type" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\DeleteResolutionType</item>
                <item name="list_rma_item_conditions" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\ListItemConditions</item>
                <item name="save_rma_item_condition" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\SaveItemCondition</item>
                <item name="delete_rma_item_condition" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\Lookup\DeleteItemCondition</item>
                <item name="search_helpdesk_tickets" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\SearchHelpdeskTickets</item>
                <item name="get_helpdesk_ticket" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\GetHelpdeskTicket</item>
                <item name="create_helpdesk_ticket" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\CreateHelpdeskTicket</item>
                <item name="list_helpdesk_ticket_messages" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\ListHelpdeskTicketMessages</item>
                <item name="reply_to_helpdesk_ticket" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\ReplyToHelpdeskTicket</item>
                <item name="add_helpdesk_internal_note" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\AddHelpdeskInternalNote</item>
                <item name="set_helpdesk_ticket_status" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\SetHelpdeskTicketStatus</item>
                <item name="set_helpdesk_ticket_priority" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\SetHelpdeskTicketPriority</item>
                <item name="assign_helpdesk_ticket" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\AssignHelpdeskTicket</item>
                <item name="reopen_helpdesk_ticket" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\ReopenHelpdeskTicket</item>
                <item name="list_helpdesk_departments" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\ListDepartments</item>
                <item name="list_helpdesk_statuses" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\ListStatuses</item>
                <item name="list_helpdesk_priorities" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\ListPriorities</item>
                <item name="list_helpdesk_custom_fields" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\ListCustomFields</item>
                <item name="list_helpdesk_spam_patterns" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\ListSpamPatterns</item>
                <item name="save_helpdesk_priority" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\SavePriority</item>
                <item name="delete_helpdesk_priority" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\DeletePriority</item>
                <item name="save_helpdesk_department" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\SaveDepartment</item>
                <item name="delete_helpdesk_department" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\DeleteDepartment</item>
                <item name="save_helpdesk_custom_field" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\SaveCustomField</item>
                <item name="delete_helpdesk_custom_field" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\DeleteCustomField</item>
                <item name="save_helpdesk_spam_pattern" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\SaveSpamPattern</item>
                <item name="delete_helpdesk_spam_pattern" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\DeleteSpamPattern</item>
                <item name="set_helpdesk_ticket_fields" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\SetHelpdeskTicketFields</item>
                <item name="set_helpdesk_ticket_department" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\SetHelpdeskTicketDepartment</item>
                <item name="list_helpdesk_attachments" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\ListHelpdeskAttachments</item>
                <item name="delete_helpdesk_ticket" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\DeleteHelpdeskTicket</item>
                <item name="create_rma" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\CreateRma</item>
                <item name="list_rma_attachments" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\ListRmaAttachments</item>
                <item name="delete_rma_attachment" xsi:type="object">Magenx\AiMcp\Model\Tool\Rma\DeleteRmaAttachment</item>
                <item name="search_blog_posts" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\SearchBlogPosts</item>
                <item name="get_blog_post" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\GetBlogPost</item>
                <item name="create_blog_post" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\CreateBlogPost</item>
                <item name="update_blog_post" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\UpdateBlogPost</item>
                <item name="delete_blog_post" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\DeleteBlogPost</item>
                <item name="list_blog_categories" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\ListBlogCategories</item>
                <item name="save_blog_category" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\SaveBlogCategory</item>
                <item name="delete_blog_category" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\DeleteBlogCategory</item>
                <item name="list_blog_tags" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\ListBlogTags</item>
                <item name="save_blog_tag" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\SaveBlogTag</item>
                <item name="delete_blog_tag" xsi:type="object">Magenx\AiMcp\Model\Tool\Blog\DeleteBlogTag</item>
                <item name="search_gdpr_requests" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\SearchGdprRequests</item>
                <item name="get_gdpr_request" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\GetGdprRequest</item>
                <item name="approve_gdpr_request" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\ApproveGdprRequest</item>
                <item name="deny_gdpr_request" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\DenyGdprRequest</item>
                <item name="search_consent_log" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\SearchConsentLog</item>
                <item name="list_gdpr_cookie_groups" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\ListCookieGroups</item>
                <item name="list_gdpr_cookies" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\ListCookies</item>
                <item name="save_gdpr_cookie" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\SaveCookie</item>
                <item name="delete_gdpr_cookie" xsi:type="object">Magenx\AiMcp\Model\Tool\Gdpr\DeleteCookie</item>
                <item name="list_helpdesk_gateways" xsi:type="object">Magenx\AiMcp\Model\Tool\Helpdesk\Lookup\ListGateways</item>
                <item name="get_config" xsi:type="object">Magenx\AiMcp\Model\Tool\Config\GetConfig</item>
                <item name="set_config" xsi:type="object">Magenx\AiMcp\Model\Tool\Config\SetConfig</item>
                <item name="flush_cache" xsi:type="object">Magenx\AiMcp\Model\Tool\Ops\FlushCache</item>
                <item name="cache_status" xsi:type="object">Magenx\AiMcp\Model\Tool\Ops\CacheStatus</item>
                <item name="set_cache_state" xsi:type="object">Magenx\AiMcp\Model\Tool\Ops\SetCacheState</item>
                <item name="indexer_status" xsi:type="object">Magenx\AiMcp\Model\Tool\Ops\IndexerStatus</item>
                <item name="invalidate_indexers" xsi:type="object">Magenx\AiMcp\Model\Tool\Ops\InvalidateIndexers</item>
                <item name="cron_status" xsi:type="object">Magenx\AiMcp\Model\Tool\Ops\CronStatus</item>
                <item name="list_modules" xsi:type="object">Magenx\AiMcp\Model\Tool\Ops\ListModules</item>
                <item name="read_audit_log" xsi:type="object">Magenx\AiMcp\Model\Tool\Ops\ReadAuditLog</item>
                <item name="platform_status" xsi:type="object">Magenx\AiMcp\Model\Tool\Platform\PlatformStatus</item>
                <item name="search_admin_activity" xsi:type="object">Magenx\AiMcp\Model\Tool\AdminActivity\SearchAdminActivity</item>
                <item name="get_admin_activity" xsi:type="object">Magenx\AiMcp\Model\Tool\AdminActivity\GetAdminActivity</item>
                <item name="sales_summary" xsi:type="object">Magenx\AiMcp\Model\Tool\Report\SalesSummary</item>
                <item name="sales_by_period" xsi:type="object">Magenx\AiMcp\Model\Tool\Report\SalesByPeriod</item>
                <item name="top_products" xsi:type="object">Magenx\AiMcp\Model\Tool\Report\TopProducts</item>
                <item name="order_status_breakdown" xsi:type="object">Magenx\AiMcp\Model\Tool\Report\OrderStatusBreakdown</item>
                <item name="customer_summary" xsi:type="object">Magenx\AiMcp\Model\Tool\Report\CustomerSummary</item>
            </argument>
        </arguments>
    </type>

    <!-- Every attempted write lands in var/log/magenx_ai_mcp.log, separate from
         the general log so an operator can audit agent activity on its own. -->
    <virtualType name="MagenxAiMcpAuditHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/magenx_ai_mcp.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="MagenxAiMcpAuditLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">magenxAiMcp</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">MagenxAiMcpAuditHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magenx\AiMcp\Model\Protocol\Server">
        <arguments>
            <argument name="auditLogger" xsi:type="object">MagenxAiMcpAuditLogger</argument>
            <!-- Advertised to the MCP client as serverInfo.version. Kept here rather
                 than as a class constant so release-please's version bump has one
                 obvious place to land. -->
            <argument name="serverVersion" xsi:type="string">1.0.0</argument>
        </arguments>
    </type>

    <!-- Refused requests never reach the Server, so the authenticator needs the
         audit logger of its own to make a failed token or a blocked address
         visible in the same file as the writes. -->
    <type name="Magenx\AiMcp\Model\Auth\Authenticator">
        <arguments>
            <argument name="auditLogger" xsi:type="object">MagenxAiMcpAuditLogger</argument>
        </arguments>
    </type>
</config>
